.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 10px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 70px;
  gap: 64px;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: row;
  gap: 48px;
  grid-row-start: 2;
  align-items: center;
  margin-bottom: 1rem;
}

.heroText {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.heroQuestion {
  margin-bottom: 1.5rem;
  font-size: 42px;
  color: #11935e;
  font-weight: bold;
}

.description {
  font-size: 20px;
}

.bookCont {
  width: 15vw;
  height: auto;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 8px 24px;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  background: #11935e;
  color: white;
  gap: 10px;
}


.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: #70d884;
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}


@media (max-width: 900px) {
  .main {
    align-items: center;
    flex-direction: column;
  }

  .bookCont {
    width: 22vw;
  }

  .heroQuestion {
    font-size: 38px;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 18px;
  }
}


@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
    gap: 28px;
  }

  .heroText {
    gap: 24px;
  }

  .ctas a {
    font-size: 18px;
    height: 48px;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .bookCont {
    width: 33vw;
  }

  .heroQuestion {
    font-size: 42px;
  }
}




/* QUIZ PAGES */

.quizPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  margin: 0;
  padding: 80px;
}

.quizCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 24px;
}

.questionList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quizQuestion {
  margin-bottom: .75rem;
  font-size: 28px;
  color: #11935e;
  font-weight: bold;

}

.quizAnswer {
  width: fit-content;
  padding: 12px 24px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: left;
  line-height: 20px;
  font-weight: 500;
  background: rgb(234, 234, 234);
  gap: 10px;
  white-space: normal;
}

.quizAnswer:hover {
  background-color: #70d884;
  border: 1px solid transparent;
}


@media (max-width: 600px) {
  .quizPage {
    padding: 32px;
    padding-bottom: 80px;
  }
}



/* RESULT PAGES */

.resultPage {
  display: grid;
  grid-template-rows: 10px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 70px;
  gap: 50px;
}

.resultCont {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 28px;
}

.toolName {
  font-weight: bold;
  margin-bottom: .5rem;
}

.toolText {
  margin-bottom: 2rem;
}

.toolLink {
  color: #11935e;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
  font-size: 14px;
}

.suggestions {
  padding-bottom: 8px;
}


@media (max-width: 1300px) {
  .resultCont {
    width: 50vw;
  }
}

@media (max-width: 1050px) {
  .resultCont {
    width: 66vw;
  }
}

@media (max-width: 800px) {
  .resultCont {
    width: 100%;
  }

  .resultPage {
    padding: 32px;
    padding-bottom: 80px;
  }

  .suggestions {
    padding-bottom: 30px;
  }

  .toolText {
    margin-bottom: 1.5rem;
  }
}